
.login-container {
    input {
      &:hover {
        background-color: #f0f0f0 !important;
      }
    }

    .input-password {
      position: relative;

      i {
        position: absolute;
        top: 12px;
        right: 10px;
        cursor: pointer;
      }
    }

    
    button:disabled {
      cursor: not-allowed;
    }
  }