body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .login-container {
    input {
      &:hover {
        background-color: #f0f0f0 !important;
      }
    }

    .input-password {
      position: relative;

      i {
        position: absolute;
        top: 12px;
        right: 10px;
        cursor: pointer;
      }
    }

    button[disabled=disabled],
    button:disabled {
      cursor: not-allowed;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}